body {
    min-height: 50vw;
    min-width: 400px;
}

ul#register-list {
    max-height: 90vh;
}

textarea#assembly-editor {
    min-width: 20vw;
    min-height: 50vh;
}

div#memory-peeker {
    max-height: 90vh;
}
